<div class="footer">
    <div class="footercontainer m-auto text-center text-white">
        <div class="row m-4">
            <div class="col-md-4 col-sm-6 mb-2">
              <h2>LOCATION</h2>
              <p>2215 John Daniel Drive</p>
              <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-2">
                <h2>AROUND THE WEB</h2>
                <div class="icons">
                    <i  class="fa-brands fa-facebook mx-1 icon"></i>
                    <i  class="fa-brands fa-twitter mx-1 icon"></i>
                    <i  class="fa-brands fa-linkedin-in mx-1 icon"></i>
                    <i  class="fa-solid fa-globe mx-1 icon"></i>
                </div>
                
            </div>
            <div class="col-md-4 col-sm-6 mb-2">
                <h2>ABOUT FREELANCER</h2>
                <p class="w-75 m-auto">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>

    </div>
</div>
<div class="footercopyright text-white p-2 text-center">
    <p class="">Copyright © Your Website 2021</p>
</div>
