<div (mouseenter)="firefunc()" id="por"  [ngClass]="{'loadport':true,'d-flex':true,'justify-content-center':true,
'align-items-center':true,'text-center':true}"
[ngStyle]="{'color':'rgb(44, 62, 80)'}" >
    <div [ngClass]="{'container':true}">
        
        <h2 [ngClass]="{'pt-2':true,'fs-1':true,'text-center':true,
        'text-uppercase':true,'fw-bolder':true}">PORTFOLIO COMPONENT</h2>
        <div [ngClass]="{'d-flex':true,
        'justify-content-center':true,
        'align-items-center':true,
        'py-3':true}">
            <div class="left">
            </div>
            <div class="mx-2">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="right">
            </div>
        </div>
        <div [ngClass]="{'py-4':true}">
            <div [ngClass]="{'row':true,'g-5':true}">
                <div [ngClass]="{'col-lg-4':true,'col-md-6':true}">
                <div [ngClass]="{'item':true,
                'position-relative':true,'rounded-3':true,'overflow-hidden':true}"value="../../assets/img/poert1.png">
                    <img [ngClass]="{'rounded-3':true ,'w-100':true} "
                    src="../../assets/img/poert1.png" alt="PORTFOLIO">
                    <div [ngStyle]="{'background-color': '#1abc9ce6','cursor': 'pointer','transition': '.6s'}"
                     [ngClass]="{'layer':true,'position-absolute':true,'start-0':true,'top-0':true,
                     'h-100':true,'w-100':true,'justify-content-center':true,'align-items-center':true,
                     'd-flex':true}">
                    <i  class="text-white fa-solid fa-plus fa-6x"></i>
                   </div>
                   
                </div>
                <div class="clickme position-absolute">
                    <img [ngClass]="{'w-100':true,'d-none':true}"
                    src="../../assets/img/poert1.png" alt="PORTFOLIO">
                </div>
                </div>
                <div [ngClass]="{'col-lg-4':true,'col-md-6':true}">
                    <div [ngClass]="{'item':true,'position-relative':true,'rounded-3':true,'overflow-hidden':true}">
                        <img [ngClass]="{'rounded-3':true ,'w-100':true}"
                        src="../../assets/img/port2.png" alt="PORTFOLIO">
                        <div [ngStyle]="{'background-color': '#1abc9ce6','cursor': 'pointer','transition': '.6s'}"
                         [ngClass]="{'layer':true,'position-absolute':true,'start-0':true,'top-0':true,
                         'h-100':true,'w-100':true,'justify-content-center':true,'align-items-center':true,
                         'd-flex':true}">
                        <i  class="text-white fa-solid fa-plus fa-6x"></i>
                       </div>
                    </div>
                        
                </div>
                <div [ngClass]="{'col-lg-4':true,'col-md-6':true}">
                        <div [ngClass]="{'item':true,'position-relative':true,'rounded-3':true,'overflow-hidden':true}">
                            <img [ngClass]="{'rounded-3':true ,'w-100':true}"
                            src="../../assets/img/port3.png" alt="PORTFOLIO">
                            <div [ngStyle]="{'background-color': '#1abc9ce6','cursor': 'pointer','transition': '.6s'}"
                             [ngClass]="{'layer':true,'position-absolute':true,'start-0':true,'top-0':true,
                             'h-100':true,'w-100':true,'justify-content-center':true,'align-items-center':true,
                             'd-flex':true}">
                            <i  class="text-white fa-solid fa-plus fa-6x"></i>
                           </div>
                        </div>
                            
                </div>
                <div [ngClass]="{'col-lg-4':true,'col-md-6':true}">
                    <div [ngClass]="{'item':true,'position-relative':true,'rounded-3':true,'overflow-hidden':true}">
                                <img [ngClass]="{'rounded-3':true ,'w-100':true}"
                                src="../../assets/img/poert1.png" alt="PORTFOLIO">
                                <div [ngStyle]="{'background-color': '#1abc9ce6','cursor': 'pointer','transition': '.6s'}"
                                 [ngClass]="{'layer':true,'position-absolute':true,'start-0':true,'top-0':true,
                                 'h-100':true,'w-100':true,'justify-content-center':true,'align-items-center':true,
                                 'd-flex':true}">
                                <i  class="text-white fa-solid fa-plus fa-6x"></i>
                               </div>
                            </div>
                                
                </div>
                <div [ngClass]="{'col-lg-4':true,'col-md-6':true}">
                    <div [ngClass]="{'item':true,'position-relative':true,'rounded-3':true,'overflow-hidden':true}">
                        <img [ngClass]="{'rounded-3':true ,'w-100':true}"
                        src="../../assets/img/port2.png" alt="PORTFOLIO">
                        <div [ngStyle]="{'background-color': '#1abc9ce6','cursor': 'pointer','transition': '.6s'}"
                         [ngClass]="{'layer':true,'position-absolute':true,'start-0':true,'top-0':true,
                         'h-100':true,'w-100':true,'justify-content-center':true,'align-items-center':true,
                         'd-flex':true}">
                        <i  class="text-white fa-solid fa-plus fa-6x"></i>
                       </div>
                    </div>
                        
                    </div>
                <div [ngClass]="{'col-lg-4':true,'col-md-6':true}">
                        <div [ngClass]="{'item':true,'position-relative':true,'rounded-3':true,'overflow-hidden':true}">
                            <img [ngClass]="{'rounded-3':true ,'w-100':true}"
                            src="../../assets/img/port3.png" alt="PORTFOLIO">
                            <div [ngStyle]="{'background-color': '#1abc9ce6','cursor': 'pointer','transition': '.6s'}"
                             [ngClass]="{'layer':true,'position-absolute':true,'start-0':true,'top-0':true,
                             'h-100':true,'w-100':true,'justify-content-center':true,'align-items-center':true,
                             'd-flex':true}">
                            <i  class="text-white fa-solid fa-plus fa-6x"></i>
                           </div>
                        </div>
                            
                        </div>
            </div>
        </div>
       
       
    </div>
    
</div>
<div id="modal">
    <div class="innermodal">
        
    </div>
</div>
