<div [ngStyle]="{'background-color':'#1abc9c','color':'white','height':'82vh'}"
[ngClass]="{'py-5':true}">
    <div [ngClass]="{'py-5':true,'w-75':true,'container':true,'m-auto':true}">
        <h2 [ngClass]="{'pt-5':true,'fs-1':true,'text-center':true,
        'text-uppercase':true,'fw-bolder':true}">ABOUT COMPONENT</h2>
        <div [ngClass]="{'d-flex':true,'justify-content-center':true,
        'align-items-center':true,'py-3':true,'text-center':true}">
            <div class="left" >
            </div>
            <div class="mx-2">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p class="pb-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="pb-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</div>
