<nav class="navbar navbar-expand-lg py-4 sticky-top">
    <div class="container">
      <a class="navbar-brand fw-bolder text-uppercase text-white fs-2">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-3">
            <a class="nav-link px-2"routerLinkActive="rounded-3 active" routerLink="about">About</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link px-2" routerLinkActive="rounded-3 active"routerLink="portofolio">Portofolio</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link px-2" routerLinkActive="rounded-3 active"routerLink="contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

