<div [ngClass]="{'d-flex':true,'justify-content-center':true,
'align-items-center':true,'text-center':true,'text-white':true}"
[ngStyle]="{'background-color':'#1abc9c','height':'82vh'}" >
    <div [ngClass]="{'container':true}">
        <img [ngStyle]="{'width':'250px'}" src="../../assets/img/avataaars.svg" alt="logo">
        <h2 [ngClass]="{'pt-5':true,'fs-1':true,'text-center':true,
        'text-uppercase':true,'fw-bolder':true}">START FRAMEWORK</h2>
        <div [ngClass]="{'d-flex':true,
        'justify-content-center':true,
        'align-items-center':true,
        'py-3':true,'text-white':true}">
            <div class="left">
            </div>
            <div class="mx-2">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="right">
            </div>
        </div>
        <p [ngClass]="{'pb-2':true}">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>